<div class="pokedex-entry" id="<%= pokemon.species_id %>">
  <% pokemon_name = PokemonEntry.find(pokemon.species_id).species_name %>
  <div class="entry-header"><h2>No. <%= pokemon.species_id %> - <%= pokemon_name.capitalize %></h2></div>
  <%= image_tag("#{pokemon_name}.png", :alt => "#{pokemon_name}", :class => "pokedex-img") %>
  <%= link_to "Release #{pokemon_name.capitalize}", trainer_pocket_monster_path(id: pokemon.id, trainer_id: pokemon.trainer_id), method: :delete, data: { confirm: "Are you sure you want to release #{pokemon_name.capitalize} and remove it from your Pokedex?" }, class: "release-pokemon" %>
</div>
