<h1 id="starter-headline">Welcome, Pokemon Trainer <%= @trainer.name %>!</h1>

<h2 id="choose-starter">Please choose your starter Pokemon:</h2>

<div id="starters-container">
	<div id="starters">
		<%= link_to image_tag("bulbasaur.png"), trainer_pocket_monster_starter_path(@trainer.id, pocket_monster_id: 1), action: :starter, method: :post %>
		<%= link_to image_tag("charmander.png"), trainer_pocket_monster_starter_path(@trainer.id, pocket_monster_id: 4), action: :starter, method: :post %>
		<%= link_to image_tag("squirtle.png"), trainer_pocket_monster_starter_path(@trainer.id, pocket_monster_id: 7), action: :starter, method: :post %>
	</div>
</div>

<%= link_to "I'm a Magikarp. I want out.", trainer_path(@trainer), method: "delete", id: "quit", data: { confirm: "Are you sure you want to leave the Pokémon League and delete your account?" } %>